<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="menu-parent">
          <a class="waves-effect waves-dark item-bar" href="/management" aria-expanded="false" return=false>
            <img src='/assets/images/Vector.svg' class='icon-bar' />
            <span class="hide-menu title-menu">Quản lý đăng kiểm</span>
          </a>
        </li>
        <li class="menu-parent">
          <a class="has-arrow waves-effect waves-dark item-bar " href="javascript:void(0)" aria-expanded="false"> <img
              src='/assets/images/category.svg' class='icon-bar' /><span class="hide-menu title-menu">Danh
              mục</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="/type">Phí bảo trì đường bộ</a></li>
            <li>
              <a href="/category">Chủng loại phương tiện và phí KĐ</a>
            </li>
            <li>
              <a href="/infringe">Phương tiện có lỗi vi phạm</a>
            </li>
            <li>
              <a href="/profile">Thông tin hồ sơ</a>
            </li>
          </ul>
        </li>
        <li class="menu-parent">
          <a class="has-arrow waves-effect waves-dark item-bar " href="javascript:void(0)" aria-expanded="false"><img
              src='/assets/images/report.svg' class='icon-bar' /> <span class="hide-menu title-menu">Báo cáo</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="/registered">BC Số xe đăng kiểm</a></li>
            <li><a href="/">BC Doanh thu</a></li>
            <li>
              <a href="/deadline">BC Phương tiện sắp tới hạn đăng kiểm</a>
            </li>
          </ul>
        </li>
        <li class="menu-parent">
          <a class="has-arrow waves-effect waves-dark item-bar " href="javascript:void(0)" aria-expanded="false"><img
              src='/assets/images/settings.svg' class='icon-bar' /><span class="hide-menu title-menu">Quản trị hệ
              thống</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="/staff">Quản lý nhân viên</a></li>
            <li><a href="/notification">Cấu hình thông báo</a></li>
            <li><a href="/fee">Cấu hình phí đăng kiểm hộ</a></li>
            <li><a href="/other">Cấu hình khác</a></li>
            <li><a href="/role">Phân quyền</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>