<nav class="sidebar-nav p-0 side-manager">
  <ul id="sidebarnav" class="d-flex">
    <li>
      <a class="waves-effect waves-dark" href="/management" aria-expanded="false">
        <span class="hide-menu">Đã đăng ký </span>
      </a>
    </li>
    <li>
      <a class="waves-effect waves-dark" href="/pay" aria-expanded="false">
        <span class="hide-menu">Đã thanh toán </span>
      </a>
    </li>
    <li>
      <a class="waves-effect waves-dark" href="/checked" aria-expanded="false">
        <span class="hide-menu">Đã đăng kiểm </span>
      </a>
    </li>
  </ul>
</nav>