<form action="/password/email" method="post">
    <div class="form-group ">
        <div class="col-xs-12 text-center">
            <h3 class=" pt-3 text-uppercase text-fw700">Khôi phục mật khẩu</h3>
            <p class="text-muted">Nhập Email để nhận thông tin khôi phục mật khẩu! </p>
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="text" name="email" placeholder="Email"
                <% if (typeof email != "undefined" && email) { %> value="<%= email %>" <% } %> required> </div>

    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-block btn-lg text-uppercase waves-effect waves-light"
                type="submit">Gửi</button>
        </div>
    </div>
</form>