<form action="/password/reset" method="post" novalidate>
    <div class="form-group ">
        <div class="col-xs-12 text-center">
            <h3 class=" pt-3 text-uppercase text-fw700">Khôi phục mật khẩu</h3>
            <p class="text-muted">Nhập mật khẩu mới của bạn! </p>
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input type="hidden" value="<%= token %>" name="token">
            <input class="form-control" type="text" name="email" placeholder="Email" value="<%= email %>" required
                readonly> </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="password" name="password" placeholder="Mật khẩu mới"
                data-validation-required-message="Vui lòng nhập Mật khẩu"
                data-validation-regex-message="Tối thiểu 6 ký tự, ít nhất một ký tự hoa, một ký tự thường, một số và một ký tự đặc biệt"
                aria-invalid="true"
                data-validation-regex-regex="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}"
                <% if (typeof password != "undefined" && password) { %> value="<%= password %>" <% } %>>
            <div class="help-block"></div>
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-block btn-lg text-uppercase waves-effect waves-light" type="submit">Đặt lại
                mật khẩu</button>
        </div>
    </div>
</form>