<div class="page-wrapper">
    <div class="container-fluid">
        <div class="d-flex align-items-center m-t-30 m-b-20">
            <h4 class="title">
                <a href="/category">
                    Phí kiểm định phương tiện
                </a>
                <i class="fa fa-angle-right p-r-10 p-l-10"></i>
                Chỉnh sửa thông tin
            </h4>
        </div>
        <div class="row ">
            <div class="col-lg-12">
                <div class="card card-small">
                    <div class="card-body">
                        <form action="/category/<%= category.id %>" method="post">
                            <div class="form-body">
                                <h4 class="box-title pb-3 text-uppercase font-weight-bold">Thông tin chung cần
                                    chỉnh
                                    sửa</h4>
                                <% if (typeof status !== 'undefined') { %>
                                <%if (status == 'success') { %>
                                <div style="color: green;">
                                    Updated Successfully
                                </div>
                                <% } else { %>
                                <div style="color: red;">
                                    Some error occurred while editing the category
                                </div>
                                <% } %>
                                <br>
                                <% } %>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="hidden" name="_method" value="put">
                                            <label for="name">Chủng loại phương tiện</label>
                                            <input type="text" id="name" name="name"
                                                class="form-control form-control-label" value="<%= category.name %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="tariff">Biểu phí</label>
                                            <div class="input-group">
                                                <input data-type="currency" type="text" id="tariff" name="tariff"
                                                    class="form-control form-control-label"
                                                    aria-label="Amount (to the nearest dollar)"
                                                    value="<%= new Intl.NumberFormat(['ban', 'id']).format(category.tariff) %>">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">đ</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="license_fee">Phí cấp giấy chứng
                                                nhận kiểm định</label>
                                            <div class="input-group">
                                                <input data-type="currency" type="text" id="license_fee"
                                                    name="license_fee" class="form-control form-control-label"
                                                    aria-label="Amount (to the nearest dollar)"
                                                    value="<%= new Intl.NumberFormat(['ban', 'id']).format(category.license_fee) %>">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">đ</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="action">
                                    <a href="/category" type="button" class="btn btn-inverse">
                                        Hủy
                                    </a>
                                    <button type="submit" class="btn btn-success">Lưu</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>